@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@100;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@100;300;400;500;600&family=Red+Hat+Display:ital,wght@0,300;0,400;0,700;1,300;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400&display=swap');
body{
	font-family: 'Red Hat Display', sans-serif;
	}
header{
	background-color: #236A75;
	padding: 10px 0;
}

#hero{
	background-image: url("../img/cozy-studio-apartment-with-bedroom-and-living-space.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 20% 0;
	text-align: center;
}

#hero-map{	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: -30px;
	text-align: center;
}

#bienvenidos{
	background-color: #fff;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 70px;
}

.titulo{
	font-family: 'Abril Fatface', cursive;
	color: #fdb740;
	padding: 40px 0;
}

.titulo2{
	font-family: 'Abril Fatface', cursive;
	color: #236A75;
	padding: 40px 0;
}

.texto{
	font-family: 'Red Hat Display', sans-serif;
	font-size: 20px;
	color: #595959;
	letter-spacing: 1px;
}

#servicios{
	background-color: #dbdbdb;
	padding: 40px;
}

#servicios h1{
	font-family: 'Abril Fatface', cursive;
	color: #236A75;
}

#galeria{
	background-image: url("../img/hotel-room-interior-with-bedroom-area-living-space-and-kitchen.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 15% 0;
	text-align: center;
}

#ver-galeria{
	padding: 80px;
	text-align: center;
}

.btn-galeia{
	color: #FFFFFF;
	background-color: #fdb740;
	font-family: 'Abril Fatface', cursive;
	font-size: 30px;
	font-weight: 250;
	letter-spacing: 5;
	border-radius: 15px;
	padding: 10px 20px;
	text-decoration: none;
}

.btn-galeia:hover{
	background-color: #fff;
	color: #fdb740;
	transition: all 0.4s ease-in-out;
	border:1px solid #fdb740;
}

footer{
	background-color: #236A75;
	color: #fff;
	align-content: center;
	padding: 80px;
}

.titulo-footer{
	font-family: 'Abril Fatface', cursive;
	font-size: 30px;
	color: #fff;
	letter-spacing: 1px;
}

#logo-footer{
 	background-image: url("../img/Adobe resort logo.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 150px 0;
}

.icon{
	font-size: 20px;
}

#hero-eventos{
	background-image: url("../img/pattern.png");
	padding-top: 2% 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}

#salones{
	padding: 20px 0;
}